html{
	box-sizing: border-box;
}
body{
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.container-fluid{
	background-color: #f8f9fa;
	margin:0;
	padding:0;
}
header {
	margin:0;
	padding: 0;
}
header .toprow{
	background-color: rgb(220, 224, 226);
	height: 10%;
}
.row{
	background-color: #f8f9fa;
}
.dropdown-toggle::after {
	content:none;
}
.col-sm-12{
	padding-right: 0;
	padding-left: 0;
	border: none;
}
.carousel-indicators{
	width: 15%;
	height: 15px;
	background-color: #f8f9fa;
	margin: 0 auto;
	padding-top: 3px;
	z-index: 50;
}
.carousel-indicators li{
	background-color: rgb(80, 107, 133);
	margin-top: 5px;
	width: 10px;
	height: 10px;
	border: none;
	border-radius: 5px;
	opacity: 1;
}
.carousel-indicators .active{
    background-color: rgb(23, 167, 139);
}
.card-title{
	text-align: center;
	font-size: 3vw;
	margin-top: 10%;
}
#text-on-carousel {
	text-align: center;
	font-size: 1.1vw;
	opacity: 0.5;
	color: white;
}
.card-img-overlay button{
	background-color: rgb(23, 167, 139);
	border: none;
	border-radius: 0;
	margin-top: 5%;
	font-size: 1vw;
	z-index: 50;
}
.card-img-overlay button:hover{
	background-color: rgb(101, 53, 156);
}
.btn-primary:not(:disabled):not(.disabled):focus{
	background-color: rgb(101, 53, 156);
	box-shadow: none;	
}
.card-img-overlay .row{
	background-color: transparent;
}
.form-control {
	background-color: #f8f9fa;
}
.input-group{
	padding-bottom: 5px;
}
.custom-search:hover{
	background-color: rgb(23, 167, 139);
}
.fa-search:hover{
	color: rgb(220, 224, 226);
}
#sliderPrevArrow{
	color: aqua;
}
.col-sm-11 h3{
	text-align: center;
	margin-top: 10%;
	margin-bottom: 3%;
	font-size: 2em;
	color: rgb(80,106,133);
}
.col-sm-11 p{
	text-align: center;
	margin: 0 auto;
	width:70%;
	padding-bottom: 3%;
	font-size: 0.9em;
	color: rgb(80,106,133);
}
.col-sm-12 h4{
	text-align: left;
	margin: 0 auto;
	font-size: 1.2em;
	font-style: bold;
	color: rgb(80,106,133);
}
.col-sm-12 p{
	text-align: left;
	margin: 0 auto;
	font-size: 0.8em;
	color: rgb(80,106,133);
}
.passGreatQual{
	padding-top: 5%;
	padding-bottom: 5%;
}
.passGreatQual img{
	width: 45px;
}
.firstSection, .secondSection, .thirdSection{
	padding: 0;
}
.firstSection div{
	background-color: #f8f9fa;
}

.secondSection .col-sm-11{
	padding-left: 10%;
}
.secondSection .col-sm-3{
	margin-right: 3%;
}
.secondSection .row{
	background-color: rgb(220, 224, 226) ;
	padding-bottom: 5%;
}
.latestWorkCard1{
	font-size: 0.9em;
	font-style: bold;
	color: rgb(10,188,155);
	opacity: 1;
}
.latestWorkCard1 span{
	font-size: 0.7em;
	color: rgb(80,106,133);
}
.latestWorkCard2{
	font-size: 0.9em;
	font-style: bold;
	color: rgb(80,106,133);
	opacity: 1;
}
.latestWorkCard2 span{
	font-size: 0.7em;
	color: rgb(80,106,133);
}
.owl-nav{
	margin: 0 auto;
	text-align: center;
}
.owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    font-family: 'fontAwesome';

}
.owl-carousel .owl-nav .owl-prev:before{
    content: "\f137";
    margin-right:10px;
}
.owl-carousel .owl-nav .owl-next:after{
    content: "\f138";
    margin-right:10px;
}
.thirdSection button{
	background-color: rgb(23, 167, 139);
	border: none;
	border-radius: 0;
	font-size: 1vw;
	z-index: 50;
}
.thirdSection button:hover{
	background-color: rgb(101, 53, 156);
}
.btn-primary:not(:disabled):not(.disabled):focus{
	background-color: rgb(101, 53, 156);
	box-shadow: none;	
}
.thirdSection p{
	padding-top: 5%;
	padding-bottom: 5%;
}
.thirdSection :nth-child(2){
	padding-bottom: 5%;
}
.toprow ul{
	display:flex;
	margin: 0;
	height: 100%;
}
.toprow li{
	display:inline;
	margin-right: 1px;
	padding: 3px;
}
.toprow a, i{
	color: rgb(145, 167, 190);
	width:30px;	
	text-align: center;
}
.toprow a:hover{
	color: rgb(23, 167, 139);
	text-decoration: none;
}
.toprow i:hover{
	color: white;
}
.top-contacts{
	font-size:0.6rem;
}
.facebook:hover{
	background-color: rgb(69,103,179) ;
}
.google:hover{
	background-color: rgb(221,87,69) ;
}
.twitter:hover{
	background-color: rgb(47,187,237) ;
}
.pinterest:hover{
	background-color: rgb(217,67,71) ;
}
.behance:hover{
	background-color: rgb(47,121,255) ;
}
.dribbble:hover{
	background-color: rgb(235,99,151) ;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
 .dropdown-item:hover{
	background-color: rgb(23, 167, 139);
	color: white;
 }
 .dropdown-toggle, .dropdown-item{
	 font-weight:700;
	 color:rgb(80, 107, 133);
 }
 .dropdown-divider{
	 margin: 0;
 }
 .navbar-light .navbar-nav .nav-link {
	color:rgb(80, 107, 133);
 }
 .navbar-light .navbar-nav .nav-link:hover {
	 color: rgb(23, 167, 139);
 }
 footer, footer div {
	padding: 0;
}
.bottom-row{
	background-color: rgb(39,53,69) ;
	padding-top: 2%;
}
 .bottom-row li, .bottom-row a{
	display:inline;
	text-decoration: none;
	margin-right: 1px;
	padding: 3px;
	color:rgb(80, 107, 133);
	font-size: 0.7rem;
 }
 .bottom-row a:hover{
	color: rgb(23, 167, 139);
 }
 .bottom-row p{
	color:rgb(80, 107, 133);
	font-size: 0.7rem;
	margin-left: 30%;
 }
 .footer-menu{
	 background-color: rgb(47, 63, 81);
	 padding-top: 5%;
	 padding-bottom: 5%;
 }
 .footer-gallery img{
	width: 100%;
 }
 .footer-menu h6{
	color: rgb(220, 224, 226);
	font-weight: 700;
	padding-top: 10%;
	padding-bottom: 5%;
 }
 .footer-menu p,.footer-menu a{
	text-decoration: none;
	text-align: left;
	font-size: 0.7em;
	color: rgb(80,106,133);
	font-weight: 700;
 }
 .footer-menu a:hover{
	color: rgb(23, 167, 139);
 }
 .footer-menu i{
	 text-align: left;
 }
 .footer-gallery a{
	 background-color: rgb(47, 63, 81) ;
	 padding: 3px;
 }
 .custom-file-input:lang(en)~.custom-file-label::after{
	 content: "SUBSCRIBE";
	 text-align: center;
	 font-size: 0.8em;
	 color: rgb(220, 224, 226);
	 background-color: rgb(23, 167, 139);
	 height:auto;
	 padding: 5px;
 }
 .custom-file-label{
	 margin-bottom: 0;
	 font-size: 0.7em;
	 color: rgb(220, 224, 226);
	 text-align: left;
	 background-color: rgb(80,106,133);
	 border: solid 3px rgb(80,106,133);
	 height: auto;
 }
